body {
    margin: 0;
    padding: 0;
    background-color: #000000c7; 
    color: #23c323; 
}
.container {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
}
h1 {
    margin-bottom: 40px;
    text-decoration: underline; 
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
button[type="submit"] {
    background-color: #27e327; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.error-message {
    color: rgb(171, 32, 32); 
}
.checkboxes {
    margin-top: 60px;
}
.radio-checkbox-section {
    margin-top: 60px; 
}
